In [2]:
import numpy as np
import pandas as pd
import os

In [3]:
PATH = 'C:/Workspace/python/Data_Science/dataA/ProDS특강/'
file_list = os.listdir(PATH)
print(file_list)

['Dataset.zip', 'Dataset_01.csv', 'Dataset_02.csv', 'Dataset_03.csv', 'Dataset_04.csv', 'Dataset_05.csv', 'Dataset_05_item_list.csv', 'Dataset_05_Mart_POS.csv', 'Dataset_06.csv', 'Dataset_07.csv', 'Dataset_08.csv', 'Dataset_09.csv', 'Dataset_10.csv', 'Dataset_11.csv', 'Dataset_12.csv', 'Dataset_13_test.csv', 'Dataset_13_train.csv', 'Dataset_14.csv', 'Dataset_15_item_list.csv', 'Dataset_15_Mart_POS.csv']

In [4]:
data1=pd.read_csv(PATH + 'Dataset_01.csv')
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4572 entries, 0 to 4571
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   TV            4562 non-null   float64
 1   Radio         4568 non-null   float64
 2   Social_Media  4566 non-null   float64
 3   Influencer    4572 non-null   object
 4   Sales         4566 non-null   float64
dtypes: float64(4), object(1)
memory usage: 178.7+ KB

In [5]:
data1.isna().sum().sum() # 결측치가 포함된 셀의 수
(data1.isna().sum(axis=1)>=1).sum() # 결측치가 포함된 행의 수

26

In [6]:
data1.columns
var_list=['TV', 'Radio', 'Social_Media','Sales']
q2=data1[var_list].corr().abs().drop('Sales')['Sales']
q2.max() # 0.999497444941335 , 최대값
q2.argmax() # 위치번호
q2.idxmax()  # 최대값이 있는 인덱스명
q2.nlargest(1) # TV    0.999497, 인덱스명+최대값
q2.min() # 0.52890600264434 , 최소값
q2.argmin() # 위치번호
q2.idxmin()  # 최소값이 있는 인덱스명
q2.nsmallest(1) # TV    0.999497, 인덱스명+최대값

Social_Media    0.528906
Name: Sales, dtype: float64

In [7]:
from sklearn.linear_model import LinearRegression
from statsmodels.formula.api import ols 
from statsmodels.api import OLS, add_constant
q3=data1.dropna()
x_list=['TV', 'Radio', 'Social_Media']
lm=LinearRegression(fit_intercept=True).fit(q3[x_list], q3.Sales)
dir(lm) # 호출가능한 메서드들 확인
lm.coef_

array([ 3.56256963, -0.00397039,  0.00496402])

In [8]:
form1='Sales~'+'+'.join(x_list)
form2='Sales~'+'+'.join(x_list)+'-1'
ols1=ols(form1, data=q3).fit()
ols1.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  Sales   R-squared:                       0.999
Model:                            OLS   Adj. R-squared:                  0.999
Method:                 Least Squares   F-statistic:                 1.505e+06
Date:                Sat, 11 Dec 2021   Prob (F-statistic):               0.00
Time:                        10:10:04   Log-Likelihood:                -11366.
No. Observations:                4546   AIC:                         2.274e+04
Df Residuals:                    4542   BIC:                         2.277e+04
Df Model:                           3
Covariance Type:            nonrobust
================================================================================
                   coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------
Intercept       -0.1340      0.103     -1.303      0.193      -0.336       0.068
TV               3.5626      0.003   1051.118      0.000       3.556       3.569
Radio           -0.0040      0.010     -0.406      0.685      -0.023       0.015
Social_Media     0.0050      0.025      0.199      0.842      -0.044       0.054
==============================================================================
Omnibus:                        0.056   Durbin-Watson:                   1.998
Prob(Omnibus):                  0.972   Jarque-Bera (JB):                0.034
Skew:                          -0.001   Prob(JB):                        0.983
Kurtosis:                       3.013   Cond. No.                         149.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [9]:
(ols1.outlier_test()['unadj_p'] < 0.05).sum()
q3[ols1.outlier_test()['unadj_p'] < 0.05]

        TV      Radio  Social_Media Influencer       Sales
93    72.0  25.406596      3.215455      Micro  262.401171
130   21.0   1.380311      5.286681       Mega   80.940725
136   88.0  26.009640      1.495601       Nano  321.046689
162   39.0   4.856123      0.874163      Macro  131.077255
179   64.0  23.081488      3.056298      Macro  219.568184
...    ...        ...           ...        ...         ...
4433  50.0  22.728177      3.794120       Mega  184.040212
4448  82.0  28.920430      3.213067      Micro  285.392143
4452  36.0  15.393056      3.601162       Nano  119.220715
4477  61.0  20.789544      2.473938      Macro  225.822151
4569  44.0  19.800072      5.096192      Micro  163.631457

[219 rows x 5 columns]

In [10]:
ols1.params
params1=ols1.params.drop('Intercept')
params1.sort_values(ascending=False)

TV              3.562570
Social_Media    0.004964
Radio          -0.003970
dtype: float64

In [11]:
xx=q3[x_list]
xx2=add_constant(xx)

ols2=OLS(q3.Sales, xx2).fit()
ols2.summary()

C:\Users\Bestc\anaconda3\lib\site-packages\statsmodels\tsa\tsatools.py:142: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  Sales   R-squared:                       0.999
Model:                            OLS   Adj. R-squared:                  0.999
Method:                 Least Squares   F-statistic:                 1.505e+06
Date:                Sat, 11 Dec 2021   Prob (F-statistic):               0.00
Time:                        10:10:29   Log-Likelihood:                -11366.
No. Observations:                4546   AIC:                         2.274e+04
Df Residuals:                    4542   BIC:                         2.277e+04
Df Model:                           3
Covariance Type:            nonrobust
================================================================================
                   coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------
const           -0.1340      0.103     -1.303      0.193      -0.336       0.068
TV               3.5626      0.003   1051.118      0.000       3.556       3.569
Radio           -0.0040      0.010     -0.406      0.685      -0.023       0.015
Social_Media     0.0050      0.025      0.199      0.842      -0.044       0.054
==============================================================================
Omnibus:                        0.056   Durbin-Watson:                   1.998
Prob(Omnibus):                  0.972   Jarque-Bera (JB):                0.034
Skew:                          -0.001   Prob(JB):                        0.983
Kurtosis:                       3.013   Cond. No.                         149.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [12]:
data=pd.read_csv(PATH + 'Dataset_04.csv')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6718 entries, 0 to 6717
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   LOCATION  6718 non-null   object
 1   SUBJECT   6718 non-null   object
 2   TIME      6718 non-null   int64
 3   Value     6718 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 210.1+ KB

In [13]:
data.isnull().sum()

LOCATION    0
SUBJECT     0
TIME        0
Value       0
dtype: int64

In [14]:
# =============================================================================
# 1.한국인의 1인당 육류 소비량이 해가 갈수록 증가하는 것으로 보여 상관분석을 통하여
# 확인하려고 한다. 
# - 데이터 파일로부터 한국 데이터만 추출한다. 한국은 KOR로 표기되어 있다.
# - 년도별 육류 소비량 합계를 구하여 TIME과 Value간의 상관분석을 수행하고
# 상관계수를 소수점 셋째 자리에서 반올림하여 소수점 둘째 자리까지만 기술하시오. 
# (답안 예시) 0.55
# =============================================================================
import pandas as pd
q1 = data.copy()
print(q1.columns)
q1_tab = q1[q1.LOCATION == 'KOR'].reset_index(drop = True).copy()
round(pd.pivot_table(q1_tab, values = 'Value', index = 'TIME', aggfunc = 'sum').reset_index().corr().TIME['Value'], 3)

Index(['LOCATION', 'SUBJECT', 'TIME', 'Value'], dtype='object')

0.96

In [15]:
# =============================================================================
# 2. 한국 인근 국가 가운데 식생의 유사성이 상대적으로 높은 일본(JPN)과 비교하여, 연도별
# 소비량에 평균 차이가 있는지 분석하고자 한다.
# - 두 국가의 육류별 소비량을 연도기준으로 비교하는 대응표본 t 검정을 수행하시오.
# - 두 국가 간의 연도별 소비량 차이가 없는 것으로 판단할 수 있는 육류 종류를 모두
# 적으시오. (알파벳 순서) (답안 예시) BEEF, PIG, POULTRY, SHEEP
# =============================================================================
q2 = data[data.LOCATION.isin(['KOR','JPN'])]
sub_list = q2.SUBJECT.unique()
print(sub_list)
from scipy.stats import ttest_rel
q2_out=[]
for i in sub_list:
    temp=q2[q2.SUBJECT == i]
    q2_tab=pd.pivot_table(temp, index='TIME',
                         columns='LOCATION',
                         values='Value').dropna()
    ttest_out=ttest_rel(q2_tab.JPN, q2_tab.KOR)
    pvalue=ttest_out.pvalue
    q2_out.append([i, pvalue])
q2_out=pd.DataFrame(q2_out, columns=['sub', 'pvalue'])    
q2_out[q2_out.pvalue >= 0.05]['sub']

['BEEF' 'PIG' 'POULTRY' 'SHEEP']

2    POULTRY
Name: sub, dtype: object

In [16]:
# =============================================================================
# 3.(한국만 포함한 데이터에서) Time을 독립변수로, Value를 종속변수로 하여 육류
# 종류(SUBJECT) 별로 회귀분석을 수행하였을 때, 가장 높은 결정계수를 가진 모델의
# 학습오차 중 MAPE를 반올림하여 소수점 둘째 자리까지 기술하시오. (답안 예시) 21.12
# (MAPE : Mean Absolute Percentage Error, 평균 절대 백분율 오차)
# (MAPE = Σ ( | y - y ̂ | / y ) * 100/n ))
# 
# =============================================================================
q3 = data[data.LOCATION.isin(['KOR'])]
sub_list = q3.SUBJECT.unique()

from sklearn.linear_model import LinearRegression

q3_out=[]
for i in sub_list:
    temp=q3[q3.SUBJECT == i]
    lm=LinearRegression().fit(temp[['TIME']],temp['Value']) # 데이터셋 2차 구조
    pred=lm.predict(temp[['TIME']])
    r2_score=lm.score(temp[['TIME']],temp['Value'])
    mape=(abs(temp['Value'] - pred)/temp['Value']).sum()*100/len(temp)
    q3_out.append([i, r2_score, mape])
q3_out=pd.DataFrame(q3_out, columns=['sub', 'r2_score', 'mape'])
ind=q3_out.r2_score.idxmax()
q3_out.iloc[ind, -1]
q3_out

       sub  r2_score       mape
0     BEEF  0.835456   7.310893
1      PIG  0.940681   5.634980
2  POULTRY  0.951498   5.783358
3    SHEEP  0.004083  33.347966

In [17]:
data=pd.read_csv(PATH + 'Dataset_05.csv')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8068 entries, 0 to 8067
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               8068 non-null   int64
 1   Age              8068 non-null   int64
 2   Age_gr           8068 non-null   int64
 3   Gender           8068 non-null   int64
 4   Work_Experience  7239 non-null   float64
 5   Family_Size      7733 non-null   float64
 6   Ever_Married     8068 non-null   int64
 7   Graduated        8068 non-null   int64
 8   Profession       8068 non-null   int64
 9   Spending_Score   8068 non-null   int64
 10  Var_1            8068 non-null   int64
 11  Segmentation     8066 non-null   object
dtypes: float64(2), int64(9), object(1)
memory usage: 756.5+ KB

In [18]:
# =============================================================================
# 1.위의 표에 표시된 데이터 타입에 맞도록 전처리를 수행하였을 때, 데이터 파일 내에
# 존재하는 결측값은 모두 몇 개인가? 숫자형 데이터와 문자열 데이터의 결측값을
# 모두 더하여 답하시오.
# (String 타입 변수의 경우 White Space(Blank)를 결측으로 처리한다) (답안 예시) 123
# =============================================================================
import pandas as pd
q1 = data.copy()
print(q1.columns)
q1.isna().sum().sum()

Index(['ID', 'Age', 'Age_gr', 'Gender', 'Work_Experience', 'Family_Size',
       'Ever_Married', 'Graduated', 'Profession', 'Spending_Score', 'Var_1',
       'Segmentation'],
      dtype='object')

1166

In [19]:
# =============================================================================
# 2.이어지는 분석을 위해 결측값을 모두 삭제한다. 그리고, 성별이 세분화(Segmentation)에
# 영향을 미치는지 독립성 검정을 수행한다. 수행 결과, p-value를 반올림하여 소수점
# 넷째 자리까지 쓰고, 귀무가설을 기각하면 Y로, 기각할 수 없으면 N으로 기술하시오. 
# (답안 예시) 0.2345, N
# =============================================================================
q2 = data.dropna().reset_index(drop=True).copy()
q2_tab=pd.crosstab(index=q2.Gender, columns=q2.Segmentation)
from scipy.stats import chi2_contingency
# q2['Segmentation+'] = q2.Segmentation
# q2_tab = q2.pivot_table(index = 'Gender', columns = 'Segmentation+', values = 'Segmentation', aggfunc='count')
q2_out=chi2_contingency(q2_tab)
round(q2_out[1],4) < 0.05

True

In [20]:
# =============================================================================
# 3.Segmentation 값이 A 또는 D인 데이터만 사용하여 의사결정 나무 기법으로 분류
# 정확도를
# 측정해 본다. 
# - 결측치가 포함된 행은 제거한 후 진행하시오.
# - Train대 Test 7대3으로 데이터를 분리한다. (Seed = 123)
# - Train 데이터를 사용하여 의사결정나무 학습을 수행하고, Test 데이터로 평가를
# 수행한다.
# - 의사결정나무 학습 시, 다음과 같이 설정하시오:
# • Feature: Age_gr, Gender, Work_Experience, Family_Size, 
#             Ever_Married, Graduated, Spending_Score
# • Label : Segmentation
# • Parameter : Gini / Max Depth = 7 / Seed = 123
# 이 때 전체 정확도(Accuracy)를 소수점 셋째 자리 이하는 버리고 소수점 둘째자리까지
# 기술하시오.
# (답안 예시) 0.12
# =============================================================================
q3 = data.dropna().reset_index(drop = True).copy()
q3_tab = q3[q3.Segmentation.isin(['A', 'D'])].reset_index(drop=True)
x_list = ['Age_gr', 'Gender', 'Work_Experience', 'Family_Size', 'Ever_Married', 'Graduated', 'Spending_Score']
from sklearn.model_selection import train_test_split

train,test=train_test_split(q3_tab, test_size=0.3, random_state=123)
from sklearn.tree import DecisionTreeClassifier

dt=DecisionTreeClassifier(max_depth=7, random_state=123)
dt.fit(train[x_list], train['Segmentation'])
dt.score(test[x_list], test['Segmentation'])

0.6807116104868914

In [22]:
data=pd.read_csv(PATH + 'Dataset_06.csv')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4323 entries, 0 to 4322
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             4323 non-null   int64
 1   date           4323 non-null   object
 2   price          4323 non-null   float64
 3   bedrooms       4323 non-null   int64
 4   bathrooms      4323 non-null   float64
 5   sqft_living    4323 non-null   int64
 6   sqft_lot       4323 non-null   int64
 7   floors         4323 non-null   float64
 8   waterfront     4323 non-null   int64
 9   view           4323 non-null   int64
 10  condition      4323 non-null   int64
 11  grade          4323 non-null   int64
 12  sqft_above     4323 non-null   int64
 13  sqft_basement  4323 non-null   int64
 14  yr_built       4323 non-null   int64
 15  yr_renovated   4323 non-null   int64
 16  zipcode        4323 non-null   int64
 17  sqft_living15  4323 non-null   int64
 18  sqft_lot15     4323 non-null   int64
dtypes: float64(3), int64(15), object(1)
memory usage: 641.8+ KB

In [42]:
# =============================================================================
# 1.강변 조망이 가능한지 여부(waterfront)에 따라 평균 주택 가격을 계산하고 조망이
# 가능한 경우와 그렇지 않은 경우의 평균 가격 차이의 절대값을 구하시오. 답은
# 소수점 이하는 버리고 정수부만 기술하시오. (답안 예시) 1234567
# =============================================================================
q1 = data.copy()
print(q1.columns)
int(q1[q1.waterfront == 1].price.mean() - q1[q1.waterfront == 0].price.mean())

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'sqft_living15', 'sqft_lot15'],
      dtype='object')

1167272

In [55]:
# =============================================================================
# 2.price, bedrooms, bathrooms, sqft_living, sqft_lot, floors, yr_built 등 7개의 변수 간의
# 상관분석을 수행하고 price와의 상관계수의 절대값이 가장 큰 변수와 가장 작은
# 변수를 차례로 기술하시오. (답안 예시) view, zipcode
# 
# =============================================================================
x_list = ['price', 'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors', 'yr_built']
q2 = data[x_list].copy()
q2.corr().price.drop(['price']).idxmax(), q2.corr().price.drop(['price']).idxmin()

('sqft_living', 'yr_built')

In [69]:
# =============================================================================
# 3. id, date, 그리고 zipcode를 제외한 모든 변수를 독립변수로, price를 종속변수로 하여
# 회귀분석을 수행하시오. 통계적 유의성을 갖지 못하는 독립변수를 제거하면 회귀
# 모형에 남는 변수는 모두
# 몇 개인가? 이 때 음의 회귀계수를 가지는 변수는 몇 개인가? (답안 예시) 5, 3
# =============================================================================

# =============================================================================
# (참고)
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from statsmodels.formula.api import ols
# =============================================================================
q3 = data.drop(['id', 'date', 'zipcode'], axis = 1).copy()
var_list = q3.columns.drop('price')
formula = 'price~'+'+'.join(var_list)
ols = ols(formula = formula, data = q3).fit()
ols.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.681
Model:                            OLS   Adj. R-squared:                  0.680
Method:                 Least Squares   F-statistic:                     656.0
Date:                Sat, 11 Dec 2021   Prob (F-statistic):               0.00
Time:                        10:21:22   Log-Likelihood:                -58960.
No. Observations:                4323   AIC:                         1.180e+05
Df Residuals:                    4308   BIC:                         1.180e+05
Df Model:                          14
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
Intercept      6.302e+06   2.95e+05     21.401      0.000    5.73e+06    6.88e+06
bedrooms        -2.5e+04   3680.510     -6.791      0.000   -3.22e+04   -1.78e+04
bathrooms      5.179e+04   7163.408      7.230      0.000    3.77e+04    6.58e+04
sqft_living      92.3081      5.074     18.192      0.000      82.360     102.256
sqft_lot          0.0054      0.093      0.059      0.953      -0.176       0.187
floors         3.748e+04   8141.392      4.604      0.000    2.15e+04    5.34e+04
waterfront     6.277e+05   3.91e+04     16.064      0.000    5.51e+05    7.04e+05
view            4.04e+04   4797.344      8.421      0.000     3.1e+04    4.98e+04
condition      1.571e+04   5317.387      2.954      0.003    5280.918    2.61e+04
grade          1.306e+05   4700.604     27.789      0.000    1.21e+05     1.4e+05
sqft_above       33.7358      4.981      6.773      0.000      23.971      43.501
sqft_basement    58.5722      5.840     10.030      0.000      47.123      70.021
yr_built      -3666.8957    150.805    -24.316      0.000   -3962.551   -3371.241
yr_renovated     17.7032      8.265      2.142      0.032       1.499      33.908
sqft_living15    23.0114      7.561      3.044      0.002       8.188      37.834
sqft_lot15       -0.2323      0.142     -1.637      0.102      -0.511       0.046
==============================================================================
Omnibus:                     2170.721   Durbin-Watson:                   2.011
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            38362.875
Skew:                           1.971   Prob(JB):                         0.00
Kurtosis:                      17.051   Cond. No.                     1.41e+17
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 8.13e-22. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""

In [82]:
q3_out = ols.pvalues
q3_out_list=q3_out.index[q3_out < 0.05] 
q3_param=ols.params[q3_out_list]
len(q3_param[q3_param < 0])

2

In [83]:
data=pd.read_csv(PATH + 'Dataset_07.csv')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Serial_No          400 non-null    int64
 1   GRE                400 non-null    int64
 2   TOEFL              400 non-null    int64
 3   University_Rating  400 non-null    int64
 4   SOP                400 non-null    float64
 5   LOR                400 non-null    float64
 6   CGPA               400 non-null    float64
 7   Research           400 non-null    int64
 8   Chance_of_Admit    400 non-null    float64
dtypes: float64(4), int64(5)
memory usage: 28.2 KB

In [94]:
# ['Serial_No', 'GRE', 'TOEFL', 'University_Rating', 'SOP', 'LOR', 'CGPA',
#        'Research', 'Chance_of_Admit']
# =============================================================================
# 1. 합격 가능성에 GRE, TOEFL, CGPA 점수 가운데 가장 영향이 큰 것이 어떤 점수인지
# 알아 보기 위해서 상관 분석을 수행한다.
# - 피어슨(Pearson) 상관계수 값을 구한다.
# - Chance_of_Admit와의 가장 큰 상관계수 값을 가지는 항목의 상관계수를 소수점 넷째
# 자리에서 반올림하여 셋째 자리까지 기술하시오. (답안 예시) 0.123
# =============================================================================
x_list = ['GRE', 'TOEFL', 'CGPA', 'Chance_of_Admit']
q1 = data[x_list].copy()
round(abs(q1.corr().Chance_of_Admit.drop('Chance_of_Admit')).max(), 4)

0.8733

In [99]:
# =============================================================================
# 2.GRE 점수의 평균 이상을 받은 그룹과 평균 미만을 받은 그룹의 CGPA 평균은 차이가
# 있는지
# 검정을 하고자 한다.
# - 적절한 검정 방법을 선택하고 양측 검정을 수행하시오 (등분산으로 가정)
# - 검정 결과, 검정통계량의 추정치를 소수점 셋째 자리에서 반올림하여 소수점 두 자리까지
# 기술하시오.
# (답안 예시) 1.23
# =============================================================================
q2 = data.copy()
mu=q2['GRE'].mean()
q2['GRE_gr']=np.where(q2.GRE >= mu, 1, 0)
g1=q2[q2.GRE_gr == 1]['CGPA']
g0=q2[q2.GRE_gr == 0]['CGPA']
from scipy.stats import ttest_ind
q2_out=ttest_ind(g1, g0, equal_var=True)
q2_out.statistic

19.443291692470982

In [148]:
# =============================================================================
# 3.Chance_of_Admit 확률이 0.5를 초과하면 합격으로, 이하이면 불합격으로 구분하고
# 로지스틱 회귀분석을 수행하시오.
# - 원데이터만 사용하고, 원데이터 가운데 Serial_No와 Label은 모형에서 제외
# - 각 설정값은 다음과 같이 지정하고, 언급되지 않은 사항은 기본 설정값을 사용하시오
# Seed : 123
# - 로지스틱 회귀분석 수행 결과에서 로지스틱 회귀계수의 절대값이 가장 큰 변수와 그 값을
# 기술하시오. 
# (로지스틱 회귀계수는 반올림하여 소수점 둘째 자리까지 / Intercept는 제외)
# (답안 예시) abc, 0.12
# =============================================================================
q3=data.copy()

q3['Ch_cd']=np.where(q3.Chance_of_Admit > 0.5 , 1, 0)

from sklearn.linear_model import LogisticRegression

x_list=data.columns.drop(['Serial_No','Chance_of_Admit'])

logit=LogisticRegression(fit_intercept=False, 
                         random_state=12, solver = 'liblinear')

logit.fit(q3[x_list], q3['Ch_cd'])
#abs(logit.coef_).max() # 1.955355062462584

logit.coef_.shape
q3_out=pd.Series(logit.coef_.reshape(-1))

q3_out.index=x_list
# q3_out.abs().nlargest(1)
q3_out

GRE                 -0.089023
TOEFL                0.107847
University_Rating    0.061670
SOP                 -0.243508
LOR                  1.007925
CGPA                 1.955354
Research             0.674606
dtype: float64

In [149]:
data=pd.read_csv(PATH + 'Dataset_08.csv')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RandD_Spend      50 non-null     float64
 1   Administration   50 non-null     float64
 2   Marketing_Spend  50 non-null     float64
 3   State            50 non-null     object
 4   Profit           50 non-null     float64
dtypes: float64(4), object(1)
memory usage: 2.1+ KB

In [172]:
# =============================================================================
# 1.각 주(State)별 데이터 구성비를 소수점 둘째 자리까지 구하고, 알파벳 순으로
# 기술하시오(주 이름 기준).
# (답안 예시) 0.12, 0.34, 0.54
# =============================================================================
import pandas as pd
q1 = data.copy()
q1['State'].value_counts(normalize=True).sort_index().values

array([0.34, 0.32, 0.34])

In [207]:
# =============================================================================
# 2.주별 이익의 평균을 구하고, 평균 이익이 가장 큰 주와 작은 주의 차이를 구하시오. 
# 차이값은 소수점 이하는 버리고 정수부분만 기술하시오. (답안 예시) 1234
# =============================================================================
q2_tab=pd.pivot_table(data=q2,
               index='State',
               values='Profit', aggfunc='mean')
int(q2_tab.max() - q2_tab.min())

14868

In [227]:
# =============================================================================
# 3.독립변수로 RandD_Spend, Administration, Marketing_Spend를 사용하여 Profit을 주별로
# 예측하는 회귀 모형을 만들고, 이 회귀모형을 사용하여 학습오차를 산출하시오.
# - 주별로 계산된 학습오차 중 MAPE 기준으로 가장 낮은 오차를 보이는 주는 어느
# 주이고 그 값은 무엇인가? (반올림하여 소수점 둘째 자리까지 기술하시오)
# - (MAPE = Σ ( | y - y ̂ | / y ) * 100/n )
# (답안 예시) ABC, 1.56
# =============================================================================
q3 = data.copy()
state_list = q3.State.unique()
from sklearn.linear_model import LinearRegression
lm = LinearRegression()
x_list = ['RandD_Spend', 'Administration', 'Marketing_Spend']
mape_list = []
for x in state_list:
    q3_tab = q3[q3.State == x].drop('State', axis = 1)
    lm.fit(q3_tab[x_list], q3_tab.Profit)
    pred = lm.predict(q3_tab[x_list])
    q3_out = q3_tab.copy()
    q3_out['Profit_pred'] = pred
    q3_out['result'] = abs((q3_out['Profit'] - q3_out['Profit_pred']) / q3_out['Profit'])
    MAPE = q3_out.result.sum() * (100/len(q3_out))
    mape_list.append(MAPE)
q3_result = pd.DataFrame(mape_list, columns=['MAPE'])
q3_result.index = state_list
q3_result.idxmin(), round(q3_result.min() ,3)

(MAPE    Florida
 dtype: object,
 MAPE    5.707
 dtype: float64)

In [228]:
data=pd.read_csv(PATH + 'Dataset_09.csv')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 16 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   satisfaction                2000 non-null   object
 1   Gender                      2000 non-null   object
 2   Age                         2000 non-null   float64
 3   Customer_Type               2000 non-null   object
 4   Class                       2000 non-null   object
 5   Flight_Distance             2000 non-null   float64
 6   Seat_comfort                2000 non-null   float64
 7   Food_and_drink              2000 non-null   float64
 8   Inflight_wifi_service       2000 non-null   float64
 9   Inflight_entertainment      2000 non-null   float64
 10  Onboard_service             2000 non-null   float64
 11  Leg_room_service            2000 non-null   float64
 12  Baggage_handling            2000 non-null   float64
 13  Cleanliness                 2000 non-null   float64
 14  Departure_Delay_in_Minutes  2000 non-null   float64
 15  Arrival_Delay_in_Minutes    1995 non-null   float64
dtypes: float64(12), object(4)
memory usage: 250.1+ KB

In [231]:
# =============================================================================
# 1.데이터 타입을 위 표에 정의된 타입으로 전처리를 한 후, 데이터 파일 내에 결측값은
# 총 몇 개인가? (답안 예시) 1
# =============================================================================
q1 = data.isnull().sum().sum()
q1

5

In [250]:
# =============================================================================
# 2.다음에 제시된 데이터 처리를 하고 카이제곱 독립성 검정을 수행하시오.
# - 결측값이 있다면 해당 행을 제거하시오.
# - 나이는 20 이하이면 10, 30 이하이면 20, 40 이하이면 30, 50 이하이면 40, 60 이하이면 50, 
# 60 초과는 60으로 변환하여 Age_gr으로 파생변수를 생성하시오.
# - Age_gr, Gender, Customer_Type, Class 변수가 satisfaction에 영향이 있는지 카이제곱
# 독립성 검정을 수행하시오. 
# - 연관성이 있는 것으로 파악된 변수의 검정통계량 추정치를 정수 부분만 기술하시오. 
# (답안 예시) 123
# =============================================================================
q2=data.copy()
q2.columns

import numpy as np
q2['Age_gr']=np.where(q2.Age <= 20, 10,
                np.where(q2.Age <= 30, 20,
                   np.where(q2.Age <= 40, 30,
                     np.where(q2.Age <= 50, 40,
                        np.where(q2.Age <= 60, 50,  60)))))


from scipy.stats import chi2_contingency


# - Age_gr, Gender, Customer_Type, Class 변수가 satisfaction에 영향이 있는지
var_list=['Age_gr', 'Gender', 'Customer_Type', 'Class']

q2_out=[]
for i in var_list:
    q2_tab=pd.crosstab(index=q2[i], columns=q2['satisfaction'])
    chi, pvalue, *_=chi2_contingency(q2_tab)
    q2_out.append([i, chi, pvalue])

q2_out=pd.DataFrame(q2_out, columns=['var', 'chi', 'pvalue'])

q2_out[q2_out.pvalue < 0.05]['chi']

1    1068.632582
Name: chi, dtype: float64

In [262]:
# =============================================================================
# 3.고객 만족도를 라벨로 하여 다음과 같이 로지스틱 회귀분석을 수행하시오. 
# - 결측치가 포함된 행은 제거
# - 데이터를 7대 3으로 분리 (Seed = 123)
# - 아래의 11개 변수를 Feature로 사용
# Flight_Distance, Seat_comfort, Food_and_drink, Inflight_wifi_service, 
# Inflight_entertainment,Onboard_service, Leg_room_service, Baggage_handling,
# Cleanliness, Departure_Delay_in_Minutes, Arrival_Delay_in_Minutes
# 
# - Seed = 123, 이외의 항목은 모두 Default 사용
# - 예측 정확도를 측정하고 dissatisfied의 f1 score를 소수점 넷째 자리에서 반올림하여
# 소수점 셋째 자리까지 기술하시오. (답안 예시) 0.123
# =============================================================================
q3 = data.dropna().reset_index(drop=True).copy()
x_list = ['Flight_Distance', 'Seat_comfort', 'Food_and_drink', 'Inflight_wifi_service', 
          'Inflight_entertainment','Onboard_service', 'Leg_room_service', 'Baggage_handling',
          'Cleanliness', 'Departure_Delay_in_Minutes', 'Arrival_Delay_in_Minutes']
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import f1_score, classification_report

X_train, X_test, y_train, y_test = train_test_split(q3[x_list], q3.satisfaction, test_size = 0.3, random_state = 123)
lr = LogisticRegression()
lr.fit(X_train, y_train)
y_pred = lr.predict(X_test)
f1_score(y_test, y_pred, pos_label='dissatisfied')

C:\Users\Bestc\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.7488721804511279

In [266]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import f1_score, classification_report


x_var=['Flight_Distance', 'Seat_comfort', 'Food_and_drink',
       'Inflight_wifi_service','Inflight_entertainment', 'Onboard_service', 
       'Leg_room_service', 'Baggage_handling', 'Cleanliness',
       'Departure_Delay_in_Minutes', 'Arrival_Delay_in_Minutes']

q3=data.dropna()

X_train, X_test, y_train, y_test = \
    train_test_split(q3[x_var], q3['satisfaction'], 
                 test_size = 0.3, random_state = 123)


model = LogisticRegression(solver = 'liblinear',random_state=123)
result = model.fit(X_train, y_train)

y_pred = model.predict(X_test)


f1_score(y_test, y_pred, pos_label='dissatisfied')

0.7801204819277109

In [267]:
import pandas as pd
data = pd.read_csv('C:/Workspace/python/TIL/Self-Study/복습 및 자습/ProDS/data/01_ADS_Sample_1.csv')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169 entries, 0 to 168
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   YEAR_MONTH  169 non-null    object
 1   SOCIAL      169 non-null    float64
 2   TV          169 non-null    float64
 3   NEWSPAPER   169 non-null    float64
 4   SALES_AMT   169 non-null    float64
dtypes: float64(4), object(1)
memory usage: 6.7+ KB

In [284]:
print(data.columns)
q1 = data.drop('YEAR_MONTH', axis = 1).copy()
q1_out = abs(q1.corr().SALES_AMT.drop('SALES_AMT')).sort_values(ascending = False)
q1_out.idxmax(), round(q1_out.max(), 3)

Index(['YEAR_MONTH', 'SOCIAL', 'TV', 'NEWSPAPER', 'SALES_AMT'], dtype='object')

('TV', 0.183)

In [308]:
q2 = data.copy()
q2['YEAR'] = q2['YEAR_MONTH'].apply(lambda x: x.split('-')[0]) 
q2['MONTH'] = q2['YEAR_MONTH'].apply(lambda x: x.split('-')[1])
q2_tab = q2.drop('YEAR_MONTH', axis = 1)
out1 = q2_tab[q2_tab.YEAR == '2009'].SALES_AMT.sum()
out2 = q2_tab[q2_tab.YEAR == '2019'].SALES_AMT.sum()
q2_out = ((out2 - out1) / out1) * 100
round(q2_out, 3)

0.194

In [316]:
q3 = data.copy()
q3['YEAR'] = q2['YEAR_MONTH'].apply(lambda x: x.split('-')[0]) 
q3['MONTH'] = q2['YEAR_MONTH'].apply(lambda x: x.split('-')[1])
q3_tab = q2.drop('YEAR_MONTH', axis = 1)
year_list = ['2009', '2019']
q3_tab[q3_tab.YEAR.isin(year_list)].reset_index(drop=True)
from scipy.stats import ttest_ind
g1 = q3_tab[q3_tab.YEAR == '2009'].SALES_AMT
g0 = q3_tab[q3_tab.YEAR == '2019'].SALES_AMT
q3_out=ttest_ind(g1, g0, equal_var=True)
round(q3_out.pvalue, 3)

0.991