In [227]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from matplotlib import patches
%matplotlib inline
import os
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import matplotlib.font_manager as fonm
from matplotlib import font_manager, rc
mpl.rcParams['axes.unicode_minus'] = False
font_path = "C:/Windows/Fonts/HMKMRHD.ttf"
font = fonm.FontProperties(fname=font_path).get_name()
rc('font', family=font)

In [228]:
Basic_dir = os.path.dirname(os.path.dirname(os.path.realpath('EDA.ipynb')))
PATH = Basic_dir + '\\Data\\Data(PenW_B)'
os.listdir(PATH)

['sample_submission.csv', 'test.csv', 'train.csv']

In [229]:
train = pd.read_csv(PATH + '\\train.csv')
train.drop(['id'], axis = True, inplace = True)
train.dropna(inplace=True)
train.reset_index(drop = True, inplace = True)
train.columns = ['Species', 'Island', 'Clutch Completion', 'Culmen_Length',
                 'Culmen_Depth', 'Flipper_Length', 'Sex', 'Delta_15_N',
                 'Delta_13_C', 'Body_Mass']
print(train[train.Sex == 'MALE'].Flipper_Length.mean())
print(train[train.Sex == 'FEMALE'].Flipper_Length.mean())
print(train.Flipper_Length.mean())

207.21818181818182
199.72222222222223
203.5045871559633

In [230]:
train = pd.read_csv(PATH + '\\train.csv')
train.drop(['id'], axis = True, inplace = True)
train.dropna(inplace=True)
train.reset_index(drop = True, inplace = True)
train.columns = ['Species', 'Island', 'Clutch Completion', 'Culmen_Length',
                 'Culmen_Depth', 'Flipper_Length', 'Sex', 'Delta_15_N',
                 'Delta_13_C', 'Body_Mass']
print(train.columns)
# 데이터 분석을 위한 원-핫 인코딩 
sp_list = list(train.Species.unique())
sp_index = [x for x in range(len(sp_list))]
sp_dict = dict(zip(sp_list, sp_index)) 
train.Species = train.Species.apply(lambda x: sp_dict[x])

land_list = list(train.Island.unique())
land_index = [x for x in range(len(land_list))]
land_dict = dict(zip(land_list, land_index)) 
train.Island = train.Island.apply(lambda x: land_dict[x])

CC_list = list(train['Clutch Completion'].unique())
CC_index = [x for x in range(len(CC_list))]
CC_dict = dict(zip(CC_list, CC_index)) 
train['Clutch Completion'] = train['Clutch Completion'].apply(lambda x: CC_dict[x])

sex_list = list(train.Sex.unique())
sex_index = [x for x in range(len(sex_list))]
sex_dict = dict(zip(sex_list, sex_index)) 
train.Sex = train.Sex.apply(lambda x: sex_dict[x])

train.dtypes
train.head()

Index(['Species', 'Island', 'Clutch Completion', 'Culmen_Length',
       'Culmen_Depth', 'Flipper_Length', 'Sex', 'Delta_15_N', 'Delta_13_C',
       'Body_Mass'],
      dtype='object')

,Species,Island,Clutch Completion,Culmen_Length,Culmen_Depth,Flipper_Length,Sex,Delta_15_N,Delta_13_C,Body_Mass
0,0,0,0,50.0,15.3,220,0,8.30515,-25.19017,5550
1,1,1,1,49.5,19.0,200,0,9.63074,-24.34684,3800
2,0,0,0,45.1,14.4,210,1,8.51951,-27.01854,4400
3,0,0,0,44.5,14.7,214,1,8.20106,-26.16524,4850
4,0,0,1,49.6,16.0,225,0,8.38324,-26.84272,5700

In [231]:
test = pd.read_csv(PATH + '\\test.csv')
test.isnull().sum()

id                     0
Species                0
Island                 0
Clutch Completion      0
Culmen Length (mm)     0
Culmen Depth (mm)      0
Flipper Length (mm)    0
Sex                    6
Delta 15 N (o/oo)      9
Delta 13 C (o/oo)      8
dtype: int64

In [232]:
null_list = []
for i in range(len((test.isna().sum(axis=1)>=1))):
    if (test.isna().sum(axis=1)>=1)[i] == True:
        null_list.append(i)
test.iloc[null_list, :]

,id,Species,Island,Clutch Completion,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Sex,Delta 15 N (o/oo),Delta 13 C (o/oo)
27,27,Adelie Penguin (Pygoscelis adeliae),Torgersen,Yes,38.6,21.2,191.0,MALE,NaN,NaN
46,46,Adelie Penguin (Pygoscelis adeliae),Torgersen,Yes,37.8,17.1,186.0,NaN,8.63243,-25.21315
75,75,Chinstrap penguin (Pygoscelis antarctica),Dream,Yes,51.9,19.5,206.0,MALE,NaN,-23.78767
81,81,Adelie Penguin (Pygoscelis adeliae),Dream,Yes,37.5,18.9,179.0,NaN,NaN,NaN
98,98,Gentoo penguin (Pygoscelis papua),Biscoe,Yes,47.3,13.8,216.0,NaN,8.25818,-26.23886
106,106,Gentoo penguin (Pygoscelis papua),Biscoe,Yes,47.3,15.3,222.0,MALE,NaN,NaN
152,152,Gentoo penguin (Pygoscelis papua),Biscoe,Yes,44.5,15.7,217.0,NaN,8.04111,-26.18444
159,159,Adelie Penguin (Pygoscelis adeliae),Torgersen,Yes,41.1,17.6,182.0,FEMALE,NaN,NaN
175,175,Adelie Penguin (Pygoscelis adeliae),Dream,Yes,40.8,18.4,195.0,MALE,NaN,NaN
202,202,Adelie Penguin (Pygoscelis adeliae),Torgersen,Yes,39.1,18.7,181.0,MALE,NaN,NaN
205,205,Adelie Penguin (Pygoscelis adeliae),Torgersen,Yes,37.8,17.3,180.0,NaN,NaN,NaN
209,209,Gentoo penguin (Pygoscelis papua),Biscoe,Yes,44.5,14.3,216.0,NaN,7.96621,-25.69327
215,215,Adelie Penguin (Pygoscelis adeliae),Dream,Yes,41.1,19.0,182.0,MALE,NaN,NaN

In [233]:
standard1 = 203
test.Sex = test.Sex.apply(lambda x: str(x))
for i in range(len(test)):
    if test.Sex[i] == 'nan':
        if test['Flipper Length (mm)'][i] >= standard1:
            test.Sex[i] = 'MALE'
        else:
            test.Sex[i] = 'FEMALE'

<ipython-input-233-7778db52bf7b>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test.Sex[i] = 'FEMALE'
<ipython-input-233-7778db52bf7b>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test.Sex[i] = 'MALE'

In [234]:
test['Delta 15 N (o/oo)'].fillna(test['Delta 15 N (o/oo)'].mean(), inplace=True)
test['Delta 13 C (o/oo)'].fillna(test['Delta 13 C (o/oo)'].mean(), inplace=True)

In [235]:
test.isna().sum()

id                     0
Species                0
Island                 0
Clutch Completion      0
Culmen Length (mm)     0
Culmen Depth (mm)      0
Flipper Length (mm)    0
Sex                    0
Delta 15 N (o/oo)      0
Delta 13 C (o/oo)      0
dtype: int64

In [236]:
# test = pd.read_csv(PATH + '\\test.csv')
test.drop(['id'], axis = True, inplace = True)
test.columns = ['Species', 'Island', 'Clutch Completion', 'Culmen_Length',
                 'Culmen_Depth', 'Flipper_Length', 'Sex', 'Delta_15_N',
                 'Delta_13_C']
print(test.columns)
sp_list = list(test.Species.unique())
sp_index = [x for x in range(len(sp_list))]
sp_dict = dict(zip(sp_list, sp_index)) 
test.Species = test.Species.apply(lambda x: sp_dict[x])

land_list = list(test.Island.unique())
land_index = [x for x in range(len(land_list))]
land_dict = dict(zip(land_list, land_index)) 
test.Island = test.Island.apply(lambda x: land_dict[x])

CC_list = list(test['Clutch Completion'].unique())
CC_index = [x for x in range(len(CC_list))]
CC_dict = dict(zip(CC_list, CC_index)) 
test['Clutch Completion'] = test['Clutch Completion'].apply(lambda x: CC_dict[x])

sex_list = list(test.Sex.unique())
sex_index = [x for x in range(len(sex_list))]
sex_dict = dict(zip(sex_list, sex_index)) 
test.Sex = test.Sex.apply(lambda x: sex_dict[x])

test.dtypes
test.head()

Index(['Species', 'Island', 'Clutch Completion', 'Culmen_Length',
       'Culmen_Depth', 'Flipper_Length', 'Sex', 'Delta_15_N', 'Delta_13_C'],
      dtype='object')

,Species,Island,Clutch Completion,Culmen_Length,Culmen_Depth,Flipper_Length,Sex,Delta_15_N,Delta_13_C
0,0,0,0,52.0,20.7,210.0,0,9.43146,-24.68440
1,1,1,0,55.9,17.0,228.0,0,8.31180,-26.35425
2,2,0,0,38.9,18.8,190.0,1,8.36936,-26.11199
3,0,0,0,45.2,16.6,191.0,1,9.62357,-24.78984
4,2,1,1,37.9,18.6,172.0,1,8.38404,-25.19837

In [265]:
from sklearn.linear_model import LinearRegression
# 사용할 변수리스트
# x_list = ['Flipper_Length', 'Species', 'Sex'] # (1) - 최저 / intercept = True
# x_list = ['Flipper_Length', 'Species', 'Sex', 'Delta_15_N'] # (0) - (0) > (1) / intercept = True
x_list = ['Flipper_Length', 'Species', 'Sex', 'Delta_15_N'] # (2) - (2) > (1) / intercept = False



# lm = LinearRegression(fit_intercept = True)
lm = LinearRegression(fit_intercept = False)
lm.fit(train[x_list], train.Body_Mass)
print(lm.coef_)
lm.predict(train[x_list]) - train.Body_Mass

[  33.52796658 -114.7858313  -442.93728806 -247.65360614]

0     -230.647700
1      405.719993
2       88.048319
3     -148.974524
4     -232.347137
          ...
104    379.837990
105   -365.397224
106   -113.716840
107    751.182443
108     -4.778901
Name: Body_Mass, Length: 109, dtype: float64

In [266]:
def RMSE(true, pred):
    score = np.sqrt(np.mean(np.square(true-pred)))
    return score

RMSE(lm.predict(train[x_list]), train.Body_Mass)

308.2414985837879

In [267]:
test[x_list].isna().sum()

Flipper_Length    0
Species           0
Sex               0
Delta_15_N        0
dtype: int64

In [268]:
# 정답파일 작성
predict = pd.read_csv(PATH + '\\sample_submission.csv')
len(predict), len(test)
predict['Body Mass (g)'] = lm.predict(test[x_list])
predict.to_csv(PATH + '\\sample_submission(2).csv', index = False)
pd.read_csv(PATH + '\\sample_submission(2).csv').head()

   id  Body Mass (g)
0   0    4705.137901
1   1    5471.143305
2   2    3625.102514
3   3    3577.592514
4   4    3017.963560