In [190]:
import numpy as np
import pandas as pd
from tqdm.notebook import tqdm

In [191]:
df = pd.read_csv('C:\\Workspace\\python\\Data_Science\\dataA\\Cartogram Practice Data\\1인가구\\101_DT_1PL1502_Y_2020.csv', encoding = 'cp949')
df.shape

(5185, 1)

In [192]:
df.head()

                                                                  성 및 연령별 1인가구-시군구
C행정구역별(시군구) 행정구역별(시군구) C연령별 연령별    시점   1인가구         남자                         여자
'00         전국         '000 합계     2020 6643354.0000 3304398.0000     3338956.0000
                       '024 20세 미만 2020 76202.0000   35708.0000         40494.0000
                       '025 20~24  2020 492331.0000  217262.0000       275069.0000
                       '030 25~29  2020 774580.0000  432889.0000       341691.0000

In [193]:
df.reset_index(inplace = True)

In [194]:
df.columns = ['삭제1', '시군구', '삭제2', '연령별', '삭제3', '합', '남자', '여자']

In [195]:
df = df.drop([0])

In [196]:
del df['삭제1']; del df['삭제2']; del df['삭제3'];

In [197]:
df.head()

  시군구     연령별             합            남자            여자
1  전국      합계  6643354.0000  3304398.0000  3338956.0000
2  전국  20세 미만    76202.0000    35708.0000    40494.0000
3  전국   20~24   492331.0000   217262.0000   275069.0000
4  전국   25~29   774580.0000   432889.0000   341691.0000
5  전국   30~34   618401.0000   394553.0000   223848.0000

In [198]:
df.isnull().sum()

시군구    0
연령별    0
합      0
남자     0
여자     0
dtype: int64

In [199]:
df.reset_index(inplace = True)
del df['index']

In [200]:
for i in tqdm(range(len(df.합))):
    try:
        if df.합[i] != 'X':
            if df.남자[i] != 'X':
                df.합[i] = float(df.합[i])
                df.합[i] = int(df.합[i])
                df.남자[i] = float(df.남자[i])
                df.남자[i] = int(df.남자[i])
                df.여자[i] = df.합[i] - df.남자[i]
            elif df.여자[i] != 'X':
                df.합[i] = float(df.합[i])
                df.합[i] = int(df.합[i])
                df.여자[i] = float(df.여자[i])
                df.여자[i] = int(df.여자[i])
                df.남자[i] = df.합[i] - df.여자[i]
            elif df.남자[i] == 'X' and df.여자[i] == 'X':
                df.합[i] = float(df.합[i])
                df.합[i] = int(df.합[i])
                if (df.합[i] / 2) == 0:
                    df.남자[i], df.여자[i] = int(df.합[i] / 2), int(df.합[i] / 2)
                else:
                    df.남자[i], df.여자[i] = int(df.합[i] / 2) + 1, int(df.합[i] / 2)
        else:
            df.합[i], df.남자[i], df.여자[i] = 0, 0, 0

        df.합[i] = float(df.합[i])
        df.합[i] = int(df.합[i])
        df.남자[i] = float(df.남자[i])    
        df.남자[i] = int(df.남자[i])
        df.여자[i] = float(df.여자[i])
        df.여자[i] = int(df.여자[i])
    except:
        print(i)

  0%|          | 0/5184 [00:00<?, ?it/s]

In [201]:
# k = 4497
# df.합[k], df.남자[k], df.여자[k]

In [202]:
df.head()

  시군구     연령별        합       남자       여자
0  전국      합계  6643354  3304398  3338956
1  전국  20세 미만    76202    35708    40494
2  전국   20~24   492331   217262   275069
3  전국   25~29   774580   432889   341691
4  전국   30~34   618401   394553   223848

In [203]:
import re
df.시군구 = df.시군구.apply(lambda x: re.sub('[^ㄱ-ㅎㅏ-ㅣ가-힣0-9]', '', x))

In [204]:
df[df.시군구.str.contains('전국')]

   시군구     연령별        합       남자       여자
0   전국      합계  6643354  3304398  3338956
1   전국  20세 미만    76202    35708    40494
2   전국   20~24   492331   217262   275069
3   전국   25~29   774580   432889   341691
4   전국   30~34   618401   394553   223848
5   전국   35~39   497117   320174   176943
6   전국   40~44   427295   272915   154380
7   전국   45~49   476521   299352   177169
8   전국   50~54   497959   300477   197482
9   전국   55~59   541536   294220   247316
10  전국   60~64   580701   270517   310184
11  전국   65~69   458284   180497   277787
12  전국   70~74   382524   119128   263396
13  전국   75~79   350191    79884   270307
14  전국   80~84   278856    53063   225793
15  전국  85세 이상   190856    33759   157097

In [205]:
for i in range(16):
    df = df.drop([i])

In [206]:
df.reset_index(inplace = True)
del df['index']
pop = df

In [207]:
pop

       시군구     연령별       합      남자      여자
0       읍부      합계  620899  328162  292737
1       읍부  20세 미만    6999    3629    3370
2       읍부   20~24   37545   19664   17881
3       읍부   25~29   53027   34853   18174
4       읍부   30~34   46324   33612   12712
...    ...     ...     ...     ...     ...
5163  서귀포시   65~69    1740     787     953
5164  서귀포시   70~74    1346     477     869
5165  서귀포시   75~79    1112     297     815
5166  서귀포시   80~84     927     199     728
5167  서귀포시  85세 이상     841     130     711

[5168 rows x 5 columns]

In [208]:
# 고유 ID 만들기
print(len(pop))
print(len(pop.시군구.unique()))
pop.시군구.unique()

5168
257

array(['읍부', '면부', '동부', '서울특별시', '종로구', '중구', '용산구', '성동구', '광진구',
       '동대문구', '중랑구', '성북구', '강북구', '도봉구', '노원구', '은평구', '서대문구', '마포구',
       '양천구', '강서구', '구로구', '금천구', '영등포구', '동작구', '관악구', '서초구', '강남구',
       '송파구', '강동구', '부산광역시', '서구', '동구', '영도구', '부산진구', '동래구', '남구',
       '북구', '해운대구', '사하구', '금정구', '연제구', '수영구', '사상구', '기장군', '대구광역시',
       '수성구', '달서구', '달성군', '인천광역시', '연수구', '남동구', '부평구', '계양구', '미추홀구',
       '강화군', '옹진군', '광주광역시', '광산구', '대전광역시', '유성구', '대덕구', '울산광역시',
       '울주군', '세종특별자치시', '세종시', '경기도', '수원시', '장안구', '권선구', '팔달구', '영통구',
       '성남시', '수정구', '중원구', '분당구', '의정부시', '안양시', '만안구', '동안구', '부천시',
       '광명시', '평택시', '동두천시', '안산시', '상록구', '단원구', '고양시', '덕양구', '일산동구',
       '일산서구', '과천시', '구리시', '남양주시', '오산시', '시흥시', '군포시', '의왕시', '하남시',
       '용인시', '처인구', '기흥구', '수지구', '파주시', '이천시', '안성시', '김포시', '화성시',
       '광주시', '양주시', '포천시', '여주시', '연천군', '가평군', '양평군', '강원도', '춘천시',
       '원주시', '강릉시', '동해시', '태백시', '속초시', '삼척시', '홍천군', '횡성군', '영월군',
       '평창군', '정선군', '철원군', '화천군', '양구군', '인제군', '고성군', '양양군', '충청북도',
       '충주시', '제천시', '청주시', '상당구', '서원구', '흥덕구', '청원구', '보은군', '옥천군',
       '영동군', '진천군', '괴산군', '음성군', '단양군', '증평군', '충청남도', '천안시', '동남구',
       '서북구', '공주시', '보령시', '아산시', '서산시', '논산시', '계룡시', '당진시', '금산군',
       '부여군', '서천군', '청양군', '홍성군', '예산군', '태안군', '전라북도', '전주시', '완산구',
       '덕진구', '군산시', '익산시', '정읍시', '남원시', '김제시', '완주군', '진안군', '무주군',
       '장수군', '임실군', '순창군', '고창군', '부안군', '전라남도', '목포시', '여수시', '순천시',
       '나주시', '광양시', '담양군', '곡성군', '구례군', '고흥군', '보성군', '화순군', '장흥군',
       '강진군', '해남군', '영암군', '무안군', '함평군', '영광군', '장성군', '완도군', '진도군',
       '신안군', '경상북도', '포항시', '경주시', '김천시', '안동시', '구미시', '영주시', '영천시',
       '상주시', '문경시', '경산시', '군위군', '의성군', '청송군', '영양군', '영덕군', '청도군',
       '고령군', '성주군', '칠곡군', '예천군', '봉화군', '울진군', '울릉군', '경상남도', '진주시',
       '통영시', '사천시', '김해시', '밀양시', '거제시', '양산시', '창원시', '의창구', '성산구',
       '마산합포구', '마산회원구', '진해구', '의령군', '함안군', '창녕군', '남해군', '하동군', '산청군',
       '함양군', '거창군', '합천군', '제주특별자치도', '제주시', '서귀포시'], dtype=object)

In [209]:
for i in tqdm(range(len(pop.시군구))):
    if pop.시군구[i] == '읍부':
        pop.시군구[i] = np.nan
    elif pop.시군구[i] == '면부':
        pop.시군구[i] = np.nan
    elif pop.시군구[i] == '동부':
        pop.시군구[i] = np.nan

  0%|          | 0/5168 [00:00<?, ?it/s]

In [212]:
pop.dropna(subset = ['시군구'], inplace = True)

In [215]:
pop.reset_index(inplace = True)
del pop['index']

In [218]:
pop
pop.to_csv('C:\\Workspace\\python\\Data_Science\\dataA\\Cartogram Practice Data\\1인가구\\1인가구(전처리).csv', index = 'False')